# Django
db.sqlite3
__pycache__/
*.pyc
media/
staticfiles/

# Entorno Virtual
venv/
env/
ENV/

# VS Code y otros
.vscode/
.DS_Store

# Variables de entorno
.env
.env.*
!.env.example
podologia_project/.venv/
podologia_project/venv/
__pycache__/
*.pyc
*.log
