DJANGO_DEBUG=False
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SECURE_SSL_REDIRECT=True

DB_ENGINE=django.db.backends.postgresql
DB_NAME=replace_db_name
DB_USER=replace_db_user
DB_PASSWORD=replace_db_password
DB_HOST=replace_db_host
DB_PORT=5432
DB_CONN_MAX_AGE=60
DATABASE_URL=

USE_CLOUDINARY=False
CLOUDINARY_URL=
CLOUDINARY_SECURE=True
